#BookReader {
	position:absolute;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	left:0;
	right:0; 
	top:0; 
	bottom:0;
	padding: 0px;
	overflow: hidden;
}

#BRtoolbar {
    position: relative;
    top: 0;
    left: 0;
    height: 25px;
    padding: 0;
    width: 100%;
    z-index: 100;
    background-color: #DDDDDD;
    -webkit-box-shadow: 0 1px 3px #999;
    /* Shadow here on FF causes scroll bars */
    overflow: hidden;
    opacity: 0.8;
}

#BRtoolbar .label {
    font-size: 1.1em;
    color: #999;
}

#BRtoolbar a {
    color: #ccc;
    text-decoration: underline;
}

#BRtoolbarbuttons {
    float: right;
    display:none;
}

#BRtoolbarPageDisplay {
	float: right;
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 2px;
	margin-right: 15px;
}

#BRtoolbarTitleDisplay {
	float: left;
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 2px;
	margin-left: 15px;
	height: 20px;
	overflow: none;
}

#BRtoolbarPageTitleDisplay {
	float: left;
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 2px;
	margin-left: 15px;
	height: 20px;
	overflow: none;
}

#BRtoolbarDownloadButton {
	float: left;
	padding: 2px;
	margin-left: 15px;
}

#BRtoolbarCloseButton {
	float: right;
	padding: 2px;
	margin-right: 15px;
}
	
#BRtoolbar #close{
	float: right;
	width:16px;
	height:16px;
	margin:10px;
	background-image:url("../graphics/buttons/delete.gif");
}

#BRcontainer {
    top:0;
    bottom:0;
    width:100%;
    z-index: 1;
    overflow-x:auto;
    overflow-y:scroll;    
    position:absolute;
    background-color: #f9f9f9;
}

#BRpageview {
    /* XXX page view div is not being placed correctly */
    background-color: #f9f9f9;
}

.BRpagediv1up {
    overflow:hidden;
    cursor: move;
    background-color: #FEFDEB;
    -webkit-box-shadow: 1px 1px 2px #333;
    -moz-box-shadow: 1px 1px 2px #333;
    box-shadow: 1px 1px 2px #333;
}

.BRpagedivthumb {
    background-color: #FEFDEB;
    overflow:hidden;
    -webkit-box-shadow: 1px 1px 2px #333;
    -moz-box-shadow: 1px 1px 2px #333;
    box-shadow: 1px 1px 2px #333;

}

.BRpagedivthumb a {
    border: 0;
}

.BRpagedivthumb img {
    border: 0;
}

/* Must come after .BRpagedivthumb rules in order to override them */
/*
.BRpagedivthumb_highlight {
    background-color: #9A9B9D;
    overflow:hidden;
}
*/

.BRpagediv2up {
    background-color: rgb(234, 226, 205);
    overflow:hidden;
}

#BRbookcover {
    /* border: 1px solid rgb(68, 25, 17); */
    /* background-color: #663929; */
    position: absolute;
    background-image: url(images/back_pages.png);
    -moz-box-shadow: 1px 0 10px #111;
    -webkit-box-shadow: 1px 0 10px #111;
    box-shadow: 1px 0 10px #111;
    /* -moz-border-radius: 6px; */
    /* -webkit-border-radius: 6px; */
}

.BRpageimage {
    /* Bird Book */
    background-color: #FEFDEB;
}

/* Disable selection on Firefox and WebKit */
.BRnoselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.BRleafEdgeR {
    /*
    border-style: solid solid solid none;
    border-color: rgb(51, 51, 34);
    border-width: 1px 1px 1px 0px;
    */
    background: transparent url(images/back_pages.png) repeat scroll 0% 0%;
    position: absolute;
}

.BRleafEdgeL {
    /*
    border-style: solid none solid solid;
    border-color: rgb(51, 51, 34);
    border-width: 1px 0px 1px 1px;
    */
    /* background: transparent url(images/left_edges.png) repeat scroll 0% 0%; */
    background: transparent url(images/back_pages.png) repeat scroll 0% 0%; /* XXXmang replace file */
    position: absolute;
}

.BRleafEdgeTmp {
    border-style: solid none solid solid;
    border-color: rgb(51, 51, 34);
    border-width: 1px 0px 1px 1px;
    /* background: transparent url(images/left_edges.png) repeat scroll 0% 0%; */
    background: transparent url(images/back_pages.png) repeat scroll 0% 0%; /* XXXmang replace file */
    position: absolute;
}

#BRgutter {    
    /* border: 1px solid rgb(68, 25, 17); */
    position: absolute;
    z-index: 6;
    background: transparent url(images/booksplit.png) repeat scroll 0% 0%;
}

.BookReaderSearchHilite {
    opacity: 0.20; 
    filter: alpha(opacity = 20);
    background-color: #00f;
    position:absolute;
}

.hidden {
  display: none;
}

.BRpageform {
    display: inline; 
}
#BRpagenum {
    border: none;
    background-color: #9A9B9D;
    color: #ccc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
}
#BRreturn {
    /* display: block; */
    /* float: left; */
    /* margin: 0 10px 0 5px; */
	font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333;
    height: 100%;
    line-height: 20px;
}
#BRreturn span {
    font-size: 11px;
    display: block;
    height: 12px;
    padding-top: 0px;
}
#BRreturn a {
    font-size: 15px;
    display: block;
    color: #036daa;
    /* height: 18px; */
    overflow: hidden;
}
.BRicon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url(images/BRicons.png);
    background-repeat: no-repeat;
}

/*
.BRicon.logo {background-position:0 0;}
.BRicon.info {background-position:-40px 0;}
.BRicon.info:hover {background-position:-80px 0;}
.BRicon.share {background-position:-120px 0;}
.BRicon.share:hover {background-position:-160px 0;}
*/
.BRicon.read {background-position:-200px 0;}
.BRicon.read:hover {background-position:-240px 0;}
.BRicon.unread {background-position:-280px 0;}
.BRicon.unread:hover {background-position:-320px 0;}
.BRicon.full {background-position:-360px 0;}
.BRicon.full:hover {background-position:-400px 0;}
.BRicon.book_left {background-position:-440px 0;}
.BRicon.book_left:hover {background-position:-480px 0;}
.BRicon.book_right {background-position:-520px 0;}
.BRicon.book_right:hover {background-position:-560px 0;}
.BRicon.zoom_out {background-position:-600px 0;}
.BRicon.zoom_out:hover {background-position:-640px 0;}
.BRicon.zoom_in {background-position:-680px 0;}
.BRicon.zoom_in:hover {background-position:-720px 0;}
/*
.BRicon.play {background-position:-760px 0;}
.BRicon.play:hover {background-position:-800px 0;}
.BRicon.pause {background-position:-840px 0;}
.BRicon.pause:hover {background-position:-880px 0;}
*/
.BRicon.twopg {background-position:-920px 0;}
.BRicon.twopg:hover {background-position:-960px 0;}
.BRicon.onepg {background-position:-1000px 0;}
.BRicon.onepg:hover {background-position:-1040px 0;}
.BRicon.thumb {background-position:-1080px 0;}
.BRicon.thumb:hover {background-position:-1120px 0;}
.BRicon.fit {background-position:-1160px 0;}
.BRicon.fit:hover {background-position:-1200px 0;}


a.popOff {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    background-image: url(images/BRicons.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: -1050px 0;
}
a.popOff:hover {
    background-position: -1100px 0;
}
a.popOff span {
    position: absolute;
    left: -10000px;
}

form#booksearch {
    float: left;
    margin-right: 10px;
}
form#booksearch input[type=search] {
    min-width: 16em;
    height: 22px;
    line-height: 22px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: field;
    margin: 9px 0 0 0;
    padding: 0;
    border: 1px inset #ccc;
    outline: none;
}
form#booksearch button {
    width: 30px;
    height: 24px;
    line-height: 24px;
    border: none;
    background-color: #000;
    text-align: center;
    color: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    margin: 10px 0 0 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.BRlogotype {
    float:left;
    font-weight: bold; 
    height: 25px; 
    line-height: 25px; 
    vertical-align: middle; 
}

a.BRwhite               { color: #fff }
a.BRwhite:hover         { text-decoration: none; }
a.BRwhite:visited       { color: #fff }

a.BRblack           { color: #000; }
a.BRblack:hover     { text-decoration: none; }
a.BRblack:visited   { color: #000; }

a.BRgrey           { color: #999; }
a.BRgrey:hover     { text-decoration: none; }
a.BRgrey:visited   { color: #666; }

/*
.BRnavlinks {
    float:right; 
    padding: 0 20px 0 0; 
    margin: 0; 
    height: 25px; 
    line-height: 25px; 
    vertical-align: middle;
}
*/
/* thumnbail view, from Rebecca's demo */
.BRpdstatus-footer {
    position:absolute;
    height: 65px;
    bottom: 25px;
    width: 100%;
    background-color: #222;
    text-align: right; 
    padding: 0px 0px 0px 0px; 
}

.BRwidgetlabel { 
    color: #919070; 
    padding: 8px 8px 4px 8px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 10px; 
    float: left; 
}

.BRfliparea {
    /* Required to capture mouse on IE */
    background-image: url(images/transparent.png);
}

.BRtwoPagePopUp {
    padding: 6px;
    position: absolute;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: white;
    background-color: #9A9B9D;
    opacity: 0.85,
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    white-space: nowrap;
}

/* COLORBOX POP-UP */

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999;}
#cboxOverlay{position:fixed; width:100%; height:100%;background:#000;opacity:0.75;filter:Alpha(Opacity=75);}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:visible!important;}
#cboxLoadedContent iframe{display:block;border:0;}
#cboxTitle{margin:0;display:none!important;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:25px; left:25px; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
#cboxClose{display:none!important;}

#colorBox{}
    #cboxContent{background:#fff;padding:0;border:10px solid #615132;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;-moz-box-shadow: 1px 3px 10px #000;-webkit-box-shadow: 1px 3px 10px #000;box-shadow: 1px 3px 10px #000;}
        #cboxLoadedContent{background:#fff;margin:0;}
        #cboxLoadingOverlay{background:transparent;}
.BRfloat * {
    margin: 0;
    padding: 0;
}
.BRfloat {
    position: relative;
    background: #fff;
    text-align: left;
    min-width: 600px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000;
}
.BRfloat a {
    color: #036daa;
}
.BRfloat a:hover {
    color: #35672e;
}
.BRfloat a.title {
    color: #000;
    text-decoration: none;
}
.BRfloat a.title:hover {
    color: #036daa;
    text-decoration: underline;
}
.BRfloatHead {
    background-color: #615132;
    height: 32px;
    line-height: 32px;
    padding: 0 10px 10px 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: #fff;
}
.BRfloat a.floatShut {position:absolute;top:0;right:0;display:block;width:32px;height:32px;background-image:url("images/icon_close-pop.png");background-position:0 0;background-repeat:no-repeat;}
.BRfloat a.floatShut:hover {background-position:0 -32px;}
.BRfloat fieldset {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
}
.BRfloat fieldset.sub {
    margin-top: 0px;
    padding: 10px;
}
.BRfloat fieldset.center {
    text-align: center;
    padding: 10px 20px 30px;
}
.BRfloat label {
    display: block;
    font-weight: 700;
    font-size: 1.6em;
    margin: 5px 0;
}
.BRfloat label.sub {
    display: inline;
    padding: 10px 30px 10px 0;
    font-weight: normal;
    font-size: 1.4em;
    color: #666;
}
.BRfloat input[type=text],
.BRfloat textarea {
    display: block;
    margin-top: 10px;
    width: 570px;
    padding: 3px;
    border: 2px inset;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: normal;
}
.BRfloat textarea {
    height: 85px;
}
.BRfloat button[type=button] {
    font-size: 2em;
    padding: 5px;
    margin: 0 auto;
}
.BRfloat p {
    width: 575px;
    font-size: 1.6em;
    margin: 20px 20px 0;
}
.BRfloat p.meta {
    font-size: 1.1em;
    color: #748d36;
    margin: 10px 0 0;
}
.shift{
    position:absolute!important;
    left:-10000px!important;
}
.BRfloatBody {
    float: left;
    width: 570px;
    padding: 30px;
    color: #333;
}
.BRfloatCover {
    float: left;
    padding: 0 20px 30px 0;
}

.BRfloatTitle {
    font-size: 1.2em;
}
.BRfloatTitle h2 {
    display: inline;
    font-size: 1.3em;
}
.BRfloatMeta p {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    line-height: 1.5em;
}
.BRfloatMeta p.moreInfo {
    line-height: 15px;
    margin-top: 30px;
}
.BRfloatMeta p.moreInfo span {
    background: url("images/icon_OL-logo-xs.png") no-repeat;
    display: block;
    float: left;
    width: 26px;
    height: 15px;
}
.BRfloatMeta h3 {
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1.5em;
    margin-top: 30px;
    color: #333;
}
.BRfloatMeta ul.links {
    float: left;
    clear: right;
}
.BRfloatMeta ul.links li {
    list-style-type: none;
    display: block;
    float: left;
    font-size: 1.1em;
    line-height: 1.5em;
}
.BRfloatMeta ul.links li span {
    padding: 0 10px;
}
.BRfloatFoot a, .BRfloatFoot span {
    display: block;
    float: left;
    line-height: 16px;
    margin: 0 0 10px 10px;
}
.BRfloatFoot a.problem {
    background: url("images/icon_alert-xs.png") no-repeat;
    padding-left: 20px;
}
div#BRpage {
    float: right;
    width: 280px;
    padding-left:12px;
    text-align: right;
}
div#BRnav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    overflow: visible;
    z-index: 100;
    background-color: #DDDDDD;   
    opacity: 0.8; 
    
    -webkit-box-shadow: 1px 1px 2px #333;
    /* No shadow for FF, to be consistent with toolbar */
}
div#BRnavpos {
    position: relative;
    margin-right: 280px;
    height: 40px;
}
div#BRpager {
    position: relative;
    /* Account for padding around nav line */
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
}
div#BRslider {
    position: absolute;
    top: 13px;
    height: 27px;
}

/* XXXmang verify correct use of handle class */
#BRpager .ui-slider-handle {
    position: absolute;
    width: 23px;
    height: 27px;
    top: 13px;
    margin-left: -12px; /* Center icon */
    background: url(images/slider.png);
    z-index: 103;
}
#BRpager a {
    text-decoration: none;
}
 /*   
  width: 8px;
  height: 14px;
  position: absolute;
  top: -4px;
  background: #478AFF;
  border: solid 1px black;
}
*/

div#BRfiller {
    position: absolute;
    height: 40px;
    width: 10px;
    background-color: #DDDDDD;
    top: 0;
    left: 0;
    z-index: 102;
}
div#slider {
    position: absolute;
    width: 2500px;
    height: 27px;
    top: 0;
    left: -2478px;
    background-color: #000;
    opacity: .1;
    z-index: 101;
}
div#pager {
    position: absolute;
    width: 23px;
    height: 27px;
    top: 0;
    left: 8px;
    background: url(images/slider.png);
    z-index: 103;
}
div#pagenum {
    display: none;
    position: absolute;
    left: 24px;
    top: 4px;
    color: #999;
    font-size: 11px;
    line-height: 19px;
    font-weight: 700;
    padding: 0 5px;
    width: 80px;
    text-align: right;
    background-color: #dddddd;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
div#pagenum span {
    color: #cc0000;
    font-style: italic;
}
div#BRnavline {
    position: relative;
    height: 2px;
    width: auto;
    background-color: #000;
    top: -29px;
    margin: 0 10px;
}
.BRnavend {
    position: absolute;
    top: -2px;
    width: 1px;
    height: 6px;
    background-color: #000;
}
#BRnavleft {
    left: 0;
}
#BRnavright {
    right: 0;
}
div.chapter {
    position: absolute;
    top: -24px; /* Relative to nav line */
    width: 18px;
    margin-left: -9px; /* Center marker triangle */
    height: 27px;
    background: transparent url(images/marker_chap-off.png) no-repeat;
    cursor: pointer;
}
div.chapter.front {
    background: transparent url(images/marker_chap-on.png) no-repeat;
}
div.chapter div.title {
    display: none;
}
div.title span {
    color: #666;
    padding: 0 5px;
}
div.search {
    position: absolute;
    width: 18px;
    margin-left: -9px; /* Center icon */
    height: 27px;
    bottom: 0;  /* Relative to nav line */
    background-color: transparent;
    background-image: url(images/marker_srch-off.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
div.search.front {
    background: transparent url(images/marker_srch-on.png) no-repeat;
}
div.search div.query,div.searchChap div.query {
    display: none;
}
div.query {
    position: relative;
}
div.query strong {
    color: #000;
    font-weight: 700;
}
div.query span {
    font-size: 10px;
    color: #666;
    font-style: italic;
}
div.query div.queryChap {
    position: absolute;
    top: -40px;
    left: -13px;
    width: 256px;
    overflow: hidden;
    text-align: center;
    background: #000;
    padding: 5px 10px;
    color: #fff;
    font-weight: 700;
    font-size: 11px;
}
div.query div.queryChap span {
    color: #666;
    padding: 0 5px;
    font-style: normal;
}
div.search div.pointer {
    position: absolute;
    left: 121px;
    bottom: -14px;
    width: 18px;
    height: 27px;
    background: transparent url(images/marker_srch-on.png) no-repeat;
}
div.searchChap {
    position: absolute;
    top: -13px;
    width: 18px;
    height: 27px;
    background-color: transparent;
    background-image: url(images/marker_srchchap-off.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
div.searchChap.front {
    background-image: url(images/marker_srchchap-on.png);
}
#BRnav .front {
    z-index: 10001;
}
div#BRzoomer {
    position: fixed;
    bottom: 40px;
    right: 0;
    width: 26px;
    height: 190px;
    z-index: 100;
}
div#BRzoompos {
    position: relative;
    width: 26px;
    height: 190px;
    top: 0;
    left: 0;
}
div#BRzoomer button {
    position: absolute;
    left: 0;
    background-color: #DDDDDD;
    width: 26px;
}
div#BRzoomer button:hover {
    background-color: #000;
}
div#BRzoomer .zoom_out {
    top: 0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-box-shadow: 2px 2px 2px #333;
    -moz-box-shadow: 2px 2px 2px #333;
    box-shadow: 2px 2px 2px #333;
}
div#BRzoomer .zoom_in {
    bottom: 0;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
}
div#BRzoomcontrol {
    position: relative;
    top: 40px;
    left:3px;
    width: 23px;
    height: 110px;
}
div#BRzoomstrip {
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 110px;
    background-color: #000;
    opacity: .1;
}
div#BRzoombtn {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 0;
    left: 0;
    background: url("images/icon_zoomer.png");
}

.BRprogresspopup {
    position: absolute;
    background-color: #e6e4e1;
    border: none!important;
    font-size: 1.5em; 
    z-index: 3;   
    padding: 20px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 1px 0 3px #000;
    -webkit-box-shadow: 1px 0 3px #000;
    box-shadow: 1px 0 3px #333;
    min-width: 300px;
}

.BRprogressbar {
    background-image: url("images/progressbar.gif");
    background-repeat:no-repeat;
    background-position:center top;
}

.BRnavCntl {
    background-color: #DDDDDD;
    position: absolute;
    right: 20px;
    width: 40px;
    height: 30px;
    cursor: pointer;
}
#BRnavCntlBtm {
    bottom: 40px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
}
#BRnavCntlTop {
    top: 40px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    display: none;
}
.BRup {
    background-image: url("images/nav_control-up.png");
    background-repeat: no-repeat;
}
.BRdn {
    background-image: url("images/nav_control-dn.png");
    background-repeat: no-repeat;
}
#BRnavCntlBtm.BRup,#BRnavCntlBtm.BRdn {
    background-position: 8px 4px;
}
#BRnavCntlTop.BRup,#BRnavCntlTop.BRdn {
    background-position: 8px 4px;
}


