@fontsPath: 'http://localhost/pt_test/themes/jewishmuseum/fonts';

@font-face {
    font-family: 'TitilliumText22LThin';
    src: url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L001-webfont.eot');
    src: url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L001-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L001-webfont.woff') format('woff'),
         url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L001-webfont.ttf') format('truetype'),
         url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L001-webfont.svg#TitilliumText22LThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LLight';
    src: url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L002-webfont.eot');
    src: url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L002-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L002-webfont.woff') format('woff'),
         url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L002-webfont.ttf') format('truetype'),
         url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L002-webfont.svg#TitilliumText22LLight') format('svg');
    font-weight: normal;	
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LRegular';
    src: url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L003-webfont.eot');
    src: url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L003-webfont.woff') format('woff'),
         url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L003-webfont.ttf') format('truetype'),
         url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L003-webfont.svg#TitilliumText22LRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LMedium';
    src: url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L004-webfont.eot');
    src: url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L004-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L004-webfont.woff') format('woff'),
         url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L004-webfont.ttf') format('truetype'),
         url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L004-webfont.svg#TitilliumText22LMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LBold';
    src: url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L005-webfont.eot');
    src: url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L005-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L005-webfont.woff') format('woff'),
         url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L005-webfont.ttf') format('truetype'),
         url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L005-webfont.svg#TitilliumText22LBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LXBold';
    src: url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L006-webfont.eot');
    src: url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L006-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L006-webfont.woff') format('woff'),
         url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L006-webfont.ttf') format('truetype'),
         url('http://localhost/pt_test/themes/jewishmuseum/fonts/TitilliumText/TitilliumText22L006-webfont.svg#TitilliumText22LXBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
